@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');

/* ------------------------------------------ Estilos Generales ---------------------------------------------------- */
/* Selector universal */

.header {
  display: flex;
  justify-content: center;
  width: 100%;
  justify-content: baseline;
  background:#fd542c;
    background-repeat: repeat;
  background-repeat: no-repeat;
  padding-bottom: 16em;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  grid-template-rows: auto 1fr auto;
}
/* Encabezado */
.header{
    display: flex;
    flex-direction:row;
    width: 100%;
    justify-content:baseline;
}

.userPost {
  margin: 15px 0 0 17px;
}

.tituloHeader {
  font-size: 54px;
  margin-top: 27px; 
  color:#fff;
  font-family: 'Lobster Two', sans-serif;
}

/* Logo dentro del encabezado */

.logo {
    width: 8%;
    height: 80%;
    margin: 1% 2% 0 2%;  
}

/* Contenedor del título y contenido */


.tituloLogin, .tituloRegistro {
    font-size: 40px;
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
}

/* Contenedor Inputs de correo y contraseña */
form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 32%;
    margin: 3% 0 0 2%;
}

#formNewPost, #formPostUpdt{
  width: 92%;
}
/* Inputs de correo y contraseña */
.form-data, .form-post {
    border:0;
    width: 100%;
    padding: 2%;
    margin: 2% 0 2% 0;
    background: 0;
    font-size: 19px;
} 

.form-data{
  border: 2px solid #b6b6b6;
    color: #717070;
    border-radius:100px;
    font-family: 'Josefin Sans', sans-serif;
}

.form-post {
  border: 1px solid #8e8e8e;
  color: #413d3d;
  font-family: 'Josefin Sans', sans-serif;
  border-radius: 100px;
}


/* Botones SIN botón de Google */
.register {
    padding: 3%;
    width: 100%;
    font-size:115%;
    border: 0;
    border-radius: 100px;
    margin: 0px auto 40px auto;
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    cursor: pointer;
    font-weight: bold;
}

.register{
  color:#fff;
  background: #fd542c;
}

.registerPost{
  border: 0;
  border-radius: 100px;
  width: 100%;
  background:#fd542c;
  color:#fff;
  padding: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Botón de Google */
.registergoogle{
    width: 2em;
    height: 2em;
    background:#e4e4e4;
    font-size: 30px;
    border: 0;
    border-radius: 100px;
    margin: 10px auto 25px auto;
    padding: 3%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
}


/* Imagen del botón de Google */
.imgGoogle {
    width: 70%;
}

#buttonReturn {
  font-size: 25px;
  border: 0;
  background: 0;
  color: #fd542c;
  font-family: "Dosis", sans-serif;
  border-bottom: 2px solid #fd542c;
  cursor: pointer;
}

/* Nombre del botón de Google */
.title-google{
  font-size: 20px;
  font-family: "Dosis", sans-serif;
  margin-top: 15px;
}

/* Pie de página */
footer{
    text-align: center;
    padding: 1%;
}

.titleLocal {
  padding-bottom: 15px;
}

/* -------- Estilos Home ----------------------------- */

/* Botones de Iniciar Sesión y Registro del home */
.butom-home {
    width: 15%;
    margin: 10px;
    border: 0;
    padding: 10px;
    background: rgba(255, 255, 255, 0.369);
    border-radius: 10px;
    color: rgb(200, 53, 8);
    font-size: 150%;
    cursor: pointer;
}

/* Imagen de los botones del home */
.img-login{
    width: 60%;
    margin: 10px;
    cursor: pointer;
}

/* *******    estilos muro   *********/

label {
  text-align: left;
  width: 85%;
  padding-top: 5px;
  font-family: 'Josefin Sans', sans-serif;
}

.rangeStart{
  width: 70%;
  display: flex;
  justify-content: left;
  align-items: center;
}

.elementHeader {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  width: 10%;
  height: 20em;
  border-radius: 100px;
  flex-direction: column;
  top: 14em;
  left: 2em;
  position: fixed;
}


.imgNewPost,  .imgConfig, .imgMuro, .imgFilter{
  width: 30%;
}
.imgLogout {
  width: 20%;
}
.buttonLogout, .buttonPost, .config-acount, .buttonMuro{
cursor: pointer;
width: 100%;
height: 4em;
background: #fd542c;
border: 0;
border-radius: 100px;
cursor: pointer;
display: flex;
justify-content: space-between;
align-items: center;
padding: 14px;
color: #fff;
}
section{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 95%;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 40%;
  background: #fffffffa;
  position: fixed;
  margin: 10px;
  border-radius: 10px;
  z-index: 1;
  opacity: 0;
  pointer-events: none;
  transition: opacity .6s .9s;
  top: 35px;
  --transform: translateY(-100vh);
  --transition: transform .8s;
}

.modal--show{
  opacity: 1;
  pointer-events: unset;
  transition: opacity .6s;
  --transform: translateY(0);
  --transition: transform .8s .8s;
}

.titleModal {
  font-family: "Dosis", sans-serif;
  width: 75%;
  text-align: center;
  color: #000;
  font-size: 22px;
  margin-top: 3%;
}

.buttonCloseMdl {
  width: 3em;
  height: 3em;
  margin: 3% 0 0 2%;
  cursor: pointer;
  font-weight: bold;
  color: #fff;
  background: #fd542c;
  border: 0;
  border-radius: 100px;
  font-size: larger;
}

.head-modal {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 95%;
}

#posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 35%;
  list-style: none;
  background: #ffffffc4;
  margin: 10px;
  border-radius: 20px;
  font-family: 'Josefin Sans', sans-serif;
  box-shadow: 10px 10px 16px -1px rgba(0,0,0,0.31);
}

.headerPost {
  text-align: left;
  width: 80%;
  padding: 10px 10px 0 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
}

.iconHeader {
  width: 100%;
  padding: 3px;
  cursor: pointer;
}

.imgLike{
  width: 38%;
  margin-top: 0;
}

.buttonDelete, .buttonUpdate{
  width: 9%;
  background: 0;
  border: 0;
  margin: 0 5px 0 5px;
  cursor: pointer;
}

.totalLike{
  width: 30%;
  margin: 0;
}

.userPost, .titlePost{
  width: 100%;
  padding: 5px 0 5px 0;
}

.contend-img {
  width: 95%;
  margin: 10px;
}

.imgPost{
  width: 100%;
  height: 30em;
  object-fit: cover;
  display: block;
}

.contend-info {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 15px;
}

#buttonLike{
  display: flex;
  flex-direction: row;
  background: 0;
  border: 0;
  width: 17%;
  cursor: pointer;
  margin: 0 6px 0 0%;
  justify-content: center;
  align-items: center;
}

.iconloc{
  width: 6%;
  margin-right: 5px;
}

.assments {
  width: 8%;
  margin: 1%;
}

.contedRange {
  width: 33%;
  display: flex;
  flex-wrap: wrap;
  font-family: 'Josefin Sans', sans-serif;
  justify-content: center;
  text-align: center;
  margin-bottom: 15px;
}

.titleRange {
  width: 100%;
  text-align: center;
}

/* ------------ Estilos New User ---------------------- */

/* Alertas */
#alerts-error{
    color: red;
}

#root {
  position: absolute;
  width: 100%;
  margin-top: 8em;
  background: #fff;
  padding-top: 20px;
  justify-content: center;
  display: flex;
}

/***** login *****/

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 30%;
  padding: 15px;
  margin: 0;
}

.botones {
  display: flex;
  margin: 0 auto;
  align-content: center;
  width: 30%;
  padding: 15px;
}



/*******  perfil *****/
.img-container{
  width: 15%;
}
.img-count{
  width: 100%;
  border-radius: 100%;
}
/* ************** R E S P O N S I V E *************** */

@media (max-width: 1200px) {

/* ------------------------------------------ Estilos Generales ---------------------------------------------------- */

/* cabecera */


.header {
  display: flex;
  justify-content: center;
  width: 100%;
  justify-content: baseline;
    background-repeat: repeat;
  background-repeat: no-repeat;
  padding-bottom: 6em;
}

.header .tituloHeader{
  color:#fff;
}

/* cuerpo */

#root {
  border-radius: 50px 50px 0 0;
  background: #fff;
  position: absolute;
  width: 100%;
  margin-top: 7em;
}

/* Logo dentro del encabezado */
.logo {
    width: 17%;
    margin: 5% 0 0 5%;
}

/* Título de la página */

.tituloHeader.titulo{
  font-size: 40px;
  margin: 15px
}

.titulo {
    font-size: 32px;
    margin-bottom: 1em;
    width: 55%;
    text-align: center;
}

/* Botones de páginas login y newUser */
.botones{
    flex-direction: column;
    width: 90%;
}

form{
    width: 90%;
    margin: auto;
    padding: 15px;
}

/* Botones SIN botón de Google */
.register{
    font-size:20px;
    margin: 0px auto 20px auto;
    cursor: pointer;
}

.registerPost{
  width: 100%;
  background:#fd542c;
  color:#fff;
  padding: 2%;
  margin: 14px 0 20px 0;
  border: 0;
  border-radius: 100px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 25px;

}


/* Botón de Google */
.registergoogle{
    border: 0;
    margin: 10px auto 20px auto;
}



/* Inputs de correo y contraseña */
.form-data {
    width: 100%;
    padding: 10PX;
    margin-bottom: 15px;
    font-size: 20px;
    font-family: Calibri, sans-serif;
} 

/* Pie de página */
footer{
    /* margin-top: 35.5%; */
    font-family: 'Josefin Sans', sans-serif;
    font-size: 12px;
}

.autoras{
    display: flex;
    flex-direction: column;
}

.separador{
    display: none;
}

.tituloLogin , .tituloRegistro {
  font-size: 30px;
}

/* --------------- Estilos Home -------------------- */

.elementHeader {
  display: flex;
  width: 80%;
  height: 5em;
  border-radius: 100px;
  flex-direction: row;
  top: 5px;
  justify-content: space-between;
  align-items: center;
  position: sticky;
}

/* Botones de Iniciar Sesión y Registro del Home */
.butom-home {
  width: 50%;
  font-size: 25px;
  background: #e8e8e8;
  margin-top: 50px;
  cursor: pointer;
}

/* -------------------Estilos del muro ---------------------- */

  .buttonPost, .buttonLogout , .config-acount, .buttonMuro, .imgFilter {
    width: 5.5em;
    height: 5.5em;
    cursor: pointer;
    margin-left: 10px;
    background: #fd542c;
    border-radius: 10px;
    padding: 5px;
    margin: 0;
    justify-content: center;
  }

  .titleButon{
    display: none;
  }

.imgNewPost{
    width: 100%;
  }
.imgConfig, .imgMuro{
  width: 90%;
}

  .imgLogout{
    width: 70%;
  }

.filters {
    width: 100%;
    margin: 15px 0 5px 0;
  }

.contenOrder{
    font-family: 'Josefin Sans', sans-serif;
  }

.imgLike{
    width: 46%;
  }

.Buttonfilrer {
    width: 17%;
    margin: 0 10px 0 10px;
  }

.imgfilter {
    width: 70%;
  }

.form-select {
    width: 47%;
    padding: 7px;
    margin: 10px;
    background: #ffffffa1;
    border-radius: 5px;
    border: 0;
    font-size: 15px;
    font-family: 'Josefin Sans', sans-serif;
  }

#posts {
    display: flex;
    flex-wrap: wrap;
  }

.card {
    width: 100%;
    margin: 15px 0 15px 0;
    justify-content: start;
  }

.headerPost {
    width: 80%;
    padding:10px 0 10px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }

.contend-img {
    width: 100%;
    margin: 0;
  }

  .contend-info {
    width: 95%;
    padding: 10px 0px 20px 10px;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
  }

.contentPost {
    width: 90%;
  }

.titlePost {
    width: 100%;
    font-family: 'Josefin Sans', sans-serif;
  }

.rangeStart {
    width: 80%;
    margin-top: 6px;
  }
  .titleRangeStart {
    width: 30%;
  }

.assments {
    width: 7%;
}

.modal {
    width: 95%;
    top: 0;
  }

.titleModal {
    width: 80%;
  }

.imgClear {
    width: 40%;
    padding: 0 10px 0 0;
  }

.userPost{
    width: 80%;
  }

.buttonDelete, .buttonUpdate{
      width: 7%;
      cursor: pointer;
  }

.totalLike{
    width: 30%;
    margin: 0;
  }

#buttonLike{
    width: 18%;
  }

.imgPost{
    height: 20em;
  }

#idregister{
  cursor: pointer;
  }
}
